* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #707070;
    padding: 20px;
}

h1,
h2 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}

h1 {
    color: #130F49;
    margin: 40px auto;
}

h2 {
    color: #33A1CB;
    margin: 20px;
}

p {
    margin: 40px auto;
}

img {
    width: 100%;
}

section,
article {
    text-align: center;
}

#realisations article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#realisations article div {
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    #presentation {
        display: flex;
        gap: 20px;
    }
    #presentation article {
        flex: 1 1 34%;
    }
    #illustration-yohann {
        order: 1;
    }
    #presentation .texte {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #realisations article div {
        flex: 1 1 34%;
    }
}

@media (min-width: 992px) {
    #realisations article div {
        flex: 1 0 21%;
    }
}