body {
    background-color: #d1e3e9;
}

h2 {
    color: blue;
}

#titre-ingredients {
    color: green;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.column {
    width: 50%;
    float: left;
}